<h1> Please save a link below </h1>
  <form action="/links" method="POST">

    <lable for= 'title'> Title:</label>
    <input type='text' name='title' id:'title'/>

    <lable for = 'url'> URL:</label>
    <input type='text' name='url' id='url'/>

    <input type='submit' value='Save Link'/>

  </form>
